In [1]:
def fib(n):
    
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [2]:
x = 4.34
type(x)

float

In [3]:
x = "5"

In [4]:
type(x)

str

In [5]:
type(fib)

function

In [ ]:
# GETTERS AND SETTERS

In [8]:
class Car:
    def __init__(self, model = None):
        self.model = model
    def set_model(self, model):
        self.model = model
    def get_model(self):
        return self.model
    def print_model(self):
        if self.model:
            print("The model of the car " + self.model + "!!!")
        else:
            print("Model name not entered")
            
x = Car()
x.set_model("Tesla Model Y")
x.get_model()
x.print_model()

The model of the car Tesla Model Y!!!

In [9]:
mylist = [1,2,3]

In [10]:
type(mylist)

list

In [57]:
class Dog():
    
    #CLASS OBJECT ATTRIBUTE
    #SAME FOR ANY INSTANCE, BELONGING TO A CLASS
    
    species = "mammal"
    
    def __init__(self, breed, name, spots):
        
        self.breed = breed
        self.name = name
        self.spots = spots # Expecting a boolean here
        
    #Method 
    
    def bark(self):
        print("Bark! My name is {}".format(self.name))

In [58]:
my_dog = Dog("Lab", "Choco", False)

In [59]:
type(my_dog)

__main__.Dog

In [60]:
my_dog.name

'Choco'

In [61]:
my_dog.spots

False

In [62]:
my_dog.species

'mammal'

In [63]:
my_dog.bark()

Bark! My name is Choco

In [14]:
class Circle():
    
    pi = 3.14
    
    def __init__(self, radius = 1):
        self.radius = radius
        self.area = radius*radius*self.pi #or Circle.pi(for class obj attribute)
        
    def get_circumf(self):
        
        return self.radius*2*Circle.pi

In [15]:
c1 = Circle(30)

In [16]:
c1.get_circumf()

188.4

In [81]:
c1.radius = 30

In [82]:
c1.get_circumf()

188.4

In [83]:
c1.area

2826.0

In [17]:
# CALLED THE BASE CLASS

class Animal():  
    
    def __init__(self):
        
        print("Animal created")
        
    def who_am_i(self):
        print("I'm an animal")
        
    def eat(self):
        print("eating")
        
a1 = Animal()

Animal created

In [18]:
a1

In [20]:
a1.eat() ## dont forget the parenthesis

eating

In [90]:
a1.who_am_i()

I'm an animal

In [96]:
## Inheritance

class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self) #ANIMAL CREATED
        print("Dog created")
        
    def who_am_i(self):
        print("I'm a dog")

In [97]:
d1 = Dog()

Animal created
Dog created

In [98]:
d1.who_am_i() ## overwriting the info printed, even though the method names are the same

I'm a dog

In [106]:
## POLYMORPHISM

class Dog():
    
    def __init__(self,name):
        
        self.name = name
    def speak(self):
        return self.name + " and barks!"

In [107]:
class Cat():
    
    def __init__(self,name):
        
        self.name = name
    def speak(self):
        return self.name + "and meow!"

In [108]:
niko = Dog("niko")
felix = Cat("felix")

In [109]:
niko.speak()

'niko and barks!'

In [112]:
for pet in [niko, felix]:
    print(type(pet))
    print((pet.speak()))

<class '__main__.Dog'>
niko and barks!
<class '__main__.Cat'>
felixand meow!

In [113]:
def pet_speak(pet):
    print(pet.speak())

In [114]:
pet_speak(niko)

niko and barks!

In [119]:
print(Cat)

<class '__main__.Cat'>

In [126]:
class Book():
    
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages

In [127]:
b1 = Book('Python rocks', 'Rossum', 263)

In [128]:
print(b1) ## refer to the output when same code is passed without using__str__
   ## prints out class __main__.classname when __str__ is not used

Python rocks by Rossum

In [129]:
len(b1)

263

In [130]:
## HOMEWORK ASSIGNMENT

1. # fill in the class methods to accept coordinates as a pair of tuples
    #and return the slope, distance of line

In [136]:
class Line():
    
    def __init__(self, coor1, coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def slope(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2-y1)/(x2-x1)
    
    def distance(self):
        
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((y2-y1)**2 - (x2-x1)**2)

In [137]:
coor1 = (3,2)
coor2 = (4,5)

In [138]:
l1 = Line(coor1,coor2)

In [139]:
l1.distance()

8

In [140]:
l1.slope()

3.0

In [157]:
class Cylinder:
    
    def __init__(self, height = 1, radius = 1):
        
        self.height = height
        self.radius = radius
    
    def volume(self):
        return (3.14)*(self.height)*(self.radius)**2
    
    def surface_area(self):
        return 2*3.14*self.radius*(self.height+self.radius)

In [160]:
c1 = Cylinder(2,3)

In [161]:
c1.volume()

56.52

In [162]:
c1.surface_area()

94.2

In [163]:
3.14*4, 3.14*2*3

(12.56, 18.84)

In [ ]:
class Simple():
    
    def __init__(self, value):
        
        self.value = value
        
    def add_to_value(self, amount):
        self.value = self.value + amount

In [164]:
## CREATE A BANK ACC WITH 2 ATTRIBUTES:
    # Owner
    # Balance
## AND TWO METHODS:
    # Deposit
    # Withdraw
## Added req : withdrawls cannot exceed avail bal

In [165]:
class BankAcc:
    
    def __init__(self, owner, balance):
        
        self.owner = owner
        self.balance = balance
        
    def __str__(self):
        
        return f"Account owner : {self.owner}, Balance : {self.balance}"
        
    def deposit(self, amount):
        
        self.balance = self.balance + amount
        return f"Amount deposited, Current balance: {self.balance}"
        
    def withdraw(self, amount):
        
        if self.balance > amount:
            
            self.balance = (self.balance - amount)
            return f"Amount withdrawn, current balance: {self.balance}"
        
        else:
            return f"No sufficient balance"

In [166]:
acc1 = BankAcc("Leo", 1000)

In [168]:
print(acc1)

Account owner : Leo, Balance : 1000

In [169]:
acc1.deposit(300)

'Amount deposited, Current balance: 1300'

In [170]:
acc1.withdraw(500)

'Amount withdrawn, current balance: 800'

In [171]:
acc1.withdraw(1000)

'No sufficient balance'

In [172]:
### MODULES AND PACKAGES 

    #VS CODE

In [173]:
### ERRORS AND ERROR HANDLING

In [174]:
def add(n1,n2):
    print(n1+n2)

In [175]:
add(10,20)

30

In [176]:
add(10,'1') #TypeError

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [179]:
try:
    #WANT TO ATTEMPT THIS CODE, BUT COULD
    #   GIVE OUT AN ERROR
    
    result = 10+10
    
except:
    print("Looks like there's an error")
else:
    print("add went well")
    print(result)

add went well
20

In [183]:
try:
    f = open('testfile', 'w') #trying to write to a read-only file
    f.write("Write a test line")
    
except TypeError:
    print("Type Error occured, do something!")
except :
    print("All other exceptions!")
    
finally:
    print("I always run")

I always run

In [188]:
def ask_for_int():
    while True:
        try:
            result = int(input("Please enter a number : "))

        except:
            print("whoops, not a number!")
            continue

        else:
            print("yes, thank you")
            break

        finally:
            print("End of try/except/finally")

In [185]:
ask_for_int()

Please enter a number : 10
End of try/except/finally

In [190]:
ask_for_int()

Please enter a number : absdds
whoops, not a number!
End of try/except/finally
Please enter a number : alsjd
whoops, not a number!
End of try/except/finally
Please enter a number : alkdh
whoops, not a number!
End of try/except/finally
Please enter a number : 1
yes, thank you
End of try/except/finally

In [193]:
### UNIT TESTING

    #pylint, unittest
    #IN VS CODE

In [192]:
### PYTHON REVISION

In [194]:
        ## String

In [21]:
#printing out a string (no quotes seen)

print("hello")

hello

In [200]:
print('hello \n \tworld')

hello
 	world

In [201]:
 len('hello')

5

In [202]:
mystring = "Hello world"

In [210]:
mystring * 10

'Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world'

In [205]:
mystring[4]

'o'

In [208]:
mystring[0::2],mystring[0::], mystring[-2]

('Hlowrd', 'Hello world', 'l')

In [214]:
mystring.split()

['Hello', 'world']

In [217]:
mystring.split('r')

['Hello wo', 'ld']

In [218]:
#formatting methods :

In [219]:
print("This is a string inserted : {}".format('INSERTED'))

This is a string inserted : INSERTED

In [222]:
print("tHE {0} {2} {1}".format('fox', 'brown', 'cunn'))

tHE fox cunn brown

In [223]:
print("tHE {f} {b} {c}".format(f = 'fox', b = 'brown', c = 'cunn'))

tHE fox brown cunn

In [2]:
## Float formatting
#{value:width.precision} width = adds whitespace

result = 100/777
result

0.1287001287001287

In [3]:
print("The result was {r:1.3f}".format(r = result))

The result was 0.129

In [6]:
name = 'sam'
age = 3

In [7]:
print(f'name : {name}, age : {age}')

name : sam, age : 3

In [22]:
l1 = ['sam', 'pam', 1,2,3]

In [23]:
l1.pop()

3

In [24]:
l1

['sam', 'pam', 1, 2]

In [25]:
l1.pop(2)

1

In [26]:
l1

['sam', 'pam', 2]

In [28]:
l1.reverse()

In [29]:
l1

[2, 'pam', 'sam']

In [30]:
l1.reverse()

In [31]:
l1

['sam', 'pam', 2]

In [33]:
l1.remove(2)

In [34]:
l1

['sam', 'pam']

In [35]:
l1.append('a')

In [36]:
l1.append('c')

In [37]:
l1.append('b')

In [38]:
l1

['sam', 'pam', 'a', 'c', 'b']

In [39]:
l1.sort()

In [40]:
l1

['a', 'b', 'c', 'pam', 'sam']

In [41]:
l1.append('bac')

In [42]:
l1.sort()

In [43]:
l1

['a', 'b', 'bac', 'c', 'pam', 'sam']

In [45]:
l1.append('bca')
l1.sort()
l1

['a', 'b', 'bac', 'bca', 'bca', 'c', 'pam', 'sam']

In [47]:
x = l1.copy()
x

['a', 'b', 'bac', 'bca', 'bca', 'c', 'pam', 'sam']

In [48]:
x.pop(3)
x

['a', 'b', 'bac', 'bca', 'c', 'pam', 'sam']

In [49]:
l1

['a', 'b', 'bac', 'bca', 'bca', 'c', 'pam', 'sam']

In [50]:
x

['a', 'b', 'bac', 'bca', 'c', 'pam', 'sam']

In [89]:
class Animal():
    
    def __init__(self, name):
        self.name = name
            
    def eat(self):
        print("I can eat!")
        
class Dog1(Animal):
    
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        name = self.name
        return f"Hi I'm {name}, and am a dog"
        
    def eat(self):
        super().eat()
        print("I eat bones")

In [90]:
a1 = Animal("Name")

In [91]:
a1.eat()

I can eat!

In [92]:
d_1 = Dog1("ludo")

In [93]:
d_1.eat()

I can eat!
I eat bones

In [94]:
print(d_1)

Hi I'm ludo, and am a dog

In [95]:
a1.eat()

I can eat!

In [98]:
m1 = [1,2]
m2 = [3,4]

m1+m2

[1, 2, 3, 4]

In [99]:
a = 'abc'
b = 'abc'

In [100]:
str(a) is str(b)

True

In [101]:
str(b) is str(a)

True

In [104]:
a == b and b == a

True

In [105]:
def func(*args):
    
    res = sum(*args)

In [107]:
func(1,2)

TypeError: 'int' object is not iterable

In [115]:
def Max(*args, **kwargs):
    
    numbers = []
    
    for arg in args:
        if isinstance((args), (int,float)):
            numbers.append(arg)
    for val in kwargs:
        
        if isinstance((val), (int,float)):
            numbers.append(val)
        
    return numbers

In [116]:
Max(1,2,3,4, a=10)

[]

In [132]:
def prod_of_integers(**kwargs):
    
    res = 1
    for i in kwargs.values():
        res = res * i
        
    return res, kwargs

In [133]:
prod_of_integers(a = 1,b = 2,c = 3, d=6)

(36, {'a': 1, 'b': 2, 'c': 3, 'd': 6})

In [135]:
a = {1,1.0,5}
b = {1.0,1,5}

In [137]:
print(a, " ", b)

{1, 5}   {1.0, 5}

In [139]:
#P1

low, high = 2000,3200

for i in range(low,high):
    
    if i%7 == 0 and i%5 != 0:
        print(i, end = ' ')
    else:
        continue

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [6]:
#P2

def fact(n):
    
    if n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        res = n * fact(n-1)
        return res  
    
n = 3
fact(n)

6